h1{
    text-align: center;
    color:white;
    background-color: #04AA6D;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
fieldset {
    border: groove 5px indigo;
}
input[type=text],input[type=email],input[type=date],input[type=checkbox],input[type=radio],textarea,select {
    color: blue;
    margin: 8px 2px;
    border-radius: 10px;
    border-color:violet;
    }
    label{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:blue;
    }
    form {
        background-color: antiquewhite;
    }
input[type=submit] {
    background-color: #04AA6D;
     margin-left: 20px;
        height: 35px;
        width: 100px;
    }
    
