h1{
    text-align: center;
    color:white;
    background-color: #04AA6D;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
}
fieldset {
    border: groove 5px indigo;
}
input[type=text],input[type=email],input[type=date],input[type=checkbox],input[type=radio],textarea,select {
    color: blue;
    margin: 8px 2px;
    border-radius: 10px;
    border-color:violet;
    }
    label{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color:blue;
    }
    form {
        background-color: antiquewhite;
    }
input[type=submit] {
    background-color: #04AA6D;
     margin-left: 20px;
        height: 35px;
        width: 100px;
    }
    #first {
        background-color: black;
        border-collapse: collapse;
        padding: 5px; 
        margin-left: -10px;
        margin-right: -10px;
    }
     #second {
        background-color:#04AA6D;
        padding: 30px;
        font-display:inherit;
        font-family:cursive;
        font-size: 400%;
        margin-left: -10px;
        margin-right: -10px;
    }
    #third {
        color: rgba(0, 0, 0, 0.699);
        margin-left: 200px;
        margin-top: 30px;
        font-size: 200%;
    }
    #ind1 {
        width: 500px;
        height: 30px;
        margin-left: 200px;
        border-radius: 5px;
    }
    #sb {
        margin-left: 20px;
        height: 35px;
        width: 100px;
        background-color: red;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 5px;
        font-size: 100%;
    }
    #fourth {
        color: rgba(0, 0, 0, 0.699);
        margin-left: 200px;
        margin-top: 30px;
        font-size: 200%;
    }
    table,
    tr,td {
        padding: 10px;
        border: solid;
        border-collapse: collapse;
        margin-left: 200px;
        color: rgba(0, 0, 0, 0.699);
        width: 800px;
        height: 30px;
        border-radius: 200px;
    }
    #fifth{
        margin-left: 650px;
        background-color: red;
        color: aliceblue;
        
    }
    #fifth1{
        margin-left: 658px;
        background-color: red;
        color: white;
    }
    #fifth2{
        margin-left: 615px;
        background-color: red;
        color: aliceblue;
    }
    #sixth{
        color: aliceblue;
        background-color: green;
    }